.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        text-shadow: 1px 1px 11px rgba(0,0,0,0.82);
        font-size: 62px;
        color: #fff;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
    
    button:hover {
        text-shadow: 1px 1px 50px rgba(0,0,0,1);
    }
    
    .prev {
        left: 10px;
    }
    
    .next {
        right: 10px;
    }
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    background-color: #f0f0f0;
    border-right: 2px solid #ccc;
}


/* xs */
@media (max-width: 639px) {
    .carousel {
        button {
            font-size: 28px;
        }
    }
}

/* sm */
@media (max-width: 768px) {

}

/* md */
@media (max-width: 1023px) {

}

/* lg */
@media (max-width: 1279px) {

}

/* xl */
@media (max-width: 1535px) {

}