.header {
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h1 {
        color: #fff;
        font-size: 39px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* text-shadow: 1px 1px 50px rgba(0,0,0,1); */
        text-shadow: 1px 1px 11px rgba(0,0,0,0.82);
    }
}

#signUpForm {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 4px;
    width: 429px;
    height: 320px;
    margin: 16px auto;
    padding: 24px;
    display: flex;
    flex-direction: column;

}

.form_row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100%;


    label {
        color: var(--dark);
        font-weight: 700;
    }

    input {
        border: 1px solid #AAAAAA;
        padding: 14px 12px;
        border-radius: 4px;
        margin-bottom: 4px;
    }
}

.signup_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 12px;

    
    button {
        background-color: var(--pink);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border: none;
        border-radius: 4px;
        font-weight: 600;
        color: #fff;
        padding: 16px 32px;
        width: 38%;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: var(--link);
        font-weight: 500;
    }
}

.sub_links {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 18px;
    width: 429px;
    padding-bottom: 12px;
    margin: auto;

    a {
        text-decoration: none;
        color: var(--link);
        font-weight: 500;
    }
}

#error_message {
    background-color: var(--danger-tertiary);
    border: 1px solid var(--danger-secondary);
    margin-bottom: 16px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: start;
    font-weight: 600;
    padding: 0 12px;
    color: var(--danger-primary);
}

/* xs */
@media (max-width: 639px) {

}

/* sm */
@media (max-width: 768px) {
    .header {
        height: 20vh;
        h1 {
            font-size: 29px;
        }

    }

    #signUpForm {
        width: 90%;
        margin-top: auto;
    }

    .signup_btns {
        
        button {
            padding: 12px 0;
            width: 38%;
            cursor: pointer;
        }
    
        a {
            font-size: 12px;
        }
    }

    .form_row {
        input {
            padding: 16px 12px;
            border-radius: 4px;
        }
    }

    .sub_links {
        width: 75%;
    }
}

/* md */
@media (max-width: 1023px) {

}

/* lg */
@media (max-width: 1279px) {

}

/* xl */
@media (max-width: 1535px) {

}